body {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px black solid; */
    margin-left: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 50px;
}

.cells {
    margin: 0;
    padding: 0;
    /* border: solid black 1px; */
}

.cellsHover {
    background-color: black;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
}