h1 {
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* border: 1px solid black; */
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    border: 1px black solid;
}

.settings {
    display: flex;
    border: solid black 1px;
}

.cells {
    margin: 0;
    padding: 0;
}

.cellsHover {
    background-color: black;
}

button {
    width: 200px;
    height: 50px;
    margin: 10px 50px;
}