h1 {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

#grid{
    width: 600px;
    height: 600px;
    display: flex;
    border: 1px black solid;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid black 1px;
}

.cells {
    margin: 0;
    padding: 0;
}

.cellsHover {
    background-color: black;
}

button {
    width: 200px;
    height: 50px;
    margin-top: 10px;
}